#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
frontend main
    bind *:80
    option http-server-close
    option forwardfor
    default_backend app-main

#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
backend app-main
    balance roundrobin                                     #Balance algorithm
    option httpchk HEAD / HTTP/1.1\r\nHost:\ localhost    #Check the server application is up and healty - 200 status code
    server node1 192.168.56.11:80 check                 #node1
    server node2 192.168.1.12:80  check                 #node2
    server node3 192.168.56.13:80 check                 #node3
    server node4 192.168.56.14:80 check                 #node4
